* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    min-height: 50vh;
    margin: 10px auto  0 auto ;
    display: flex;
    background-color: aqua;
   
}

.circle {
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;   
}

h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
}

.instructions {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}
